{% extends 'control/base.html' %}
{% block content %}
{% load i18n %}


<div class="wrapper col4" xmlns="http://www.w3.org/1999/html">
          <br class="clear" />

  {% for last_news in last_news %}
  <div id="container">
    <div id="content">
       <a href="{% url  'news_view' last_news.id %}">
      <div id="featured_post">
        <img src="{{ MEDIA_URL }}{{ last_news.main_image.url }}" alt="" />


        <br class="clear" />
        <h2>
            {% get_current_language as LANGUAGE_CODE %}
            {% if LANGUAGE_CODE == 'ar' %}
                {{ last_news.title_arb }}
            {% else %}
                {{ last_news.title_eng }}
            {% endif %}
        </h2>
        <time datetime="{{ news.date }}">
          {{ last_news.date|date:"Y-m-d" }}
        </time>
        {% endfor %}
      </div>
       </a>
<!--###############################################################################################################-->

      <h1 style="color: green;">{% trans 'CV of the Attorney General in the Republic of Sudan' %} </h1>
      <div id="hpage_latest">
        <ul>
          {% for attorney_general in attorney_general %}
          <li>
            <img src="{{ attorney_general.main_image.url }}" alt="" width="190" height="80">
            <strong>
              <p style=" font-size: 18px;">
                  {% get_current_language as LANGUAGE_CODE %}
                  {% if LANGUAGE_CODE == 'ar' %}
                      {{ attorney_general.name_arb }}
                  {% else %}
                      {{ attorney_general.name_eng }}
                  {% endif %}
            </p>
            </strong>

            <time datetime="{{ attorney_general.start_date }}">
              {{ attorney_general.start_date|date:"Y-m-d" }}
            </time>
            <p class="readmore"><a href="{% url  'attorney_general_view' attorney_general.id %}">{% trans 'Continue Reading' %} &raquo;</a></p>
            {% endfor %}
          </li>
        </ul>
        <br class="clear" />
        <h1><a href="{% url  'attorney_general' %}">{% trans 'See ALL Attorneys General' %}</a></h1>
            <br class="clear" />
      </div>

    </div>

<!--##############################################################################################################################-->

    <div id="column">
      <br class="clear" />
      <h1 style="color:green;">{% trans 'Last News' %}</h1>
      <ul id="latestnews">

        {% for news in news  %}
        <li>
         <img src="{{ news.main_image.url }}" alt="" width="100" height="100">
          <p>

          <time datetime="{{ news.date }}">
            <h3 style="color:green">{{ news.date|date:"Y-m-d" }}</h3>
        </time>

        <strong>
          <p style=" font-size: 18px;">
              {% get_current_language as LANGUAGE_CODE %}
              {% if LANGUAGE_CODE == 'ar' %}
                  {{ news.title_arb }}
              {% else %}
                  {{ news.title_eng }}
              {% endif %}
          </p>
        </strong>
            <br>
              <strong>
              <a href="{% url  'news_view' news.id %}">{% trans 'Continue Reading' %} &raquo;</a>
            </strong>
          </p>
        </li>
        {% endfor %}

      </ul>
    </div>
    <br class="clear" />
  </div>
  <br class="clear" />
</div>
{% endblock %}
